<div ng-controller="ordersController">
	
<p><a href = "#/questions" ng-click="getCustomers() ">Create a new poll</a>  | <a href="#/">Logout</a></p>

	<p id="search-customer-order"><input ng-model="filter_name" type="text" placeholder="search orders by customer name"/></p>

        <!-- client side errors -->

        <table class="customers-questions-table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Question</th>
                    <th>Date</th>
                    <th class="last-col">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="questions in questions | filter: filter_name">
                    <td ng-bind="question.name"></td>
                    <td ng-bind="question.question"></td>
                    <td ng-bind="question.created_at.slice(0, 10) + ', ' + question.created_at.slice(12, 22)"></td>
                    <td>
                        <a href="/destroy/question/{{  order._id }}">Delete Question</a>
                        </td>
                </tr>
            </tbody>

         </table>

    </div>

</div>